apiVersion: apps/v1
kind: Deployment
metadata:
  name: manner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: manner
  template:
    metadata:
      labels:
        app: manner
    spec:
      containers:
      - image: okteto.dev/manner:latest
        name: manner
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: Site
          value: "https://www.pexels.com"
        - name: Vless_UUID
          value: "8962b7b4-621f-449c-8f84-29b4ac7ee18b"
        - name: Vless_Path
          value: "/var"
        - name: Vmess_UUID
          value: "8962b7b4-621f-449c-8f84-29b4ac7ee18b"
        - name: Vmess_Path
          value: "/var"
        - name: Share_Path
          value: "/v2link"
